*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 60px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.8;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 60px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-style: bold;

}

#navbar ul li{ 
    list-style: none;
    font-size: 1.1rem;
}

#navbar ul li a{
    color: #F5F5F5;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: #23864E;
}

/*Navbar Button*/
.btn-cover {
    background: #23864E;
    background-image: -webkit-linear-gradient(top, #23864E, #04470e);
    background-image: -moz-linear-gradient(top, #23864E, #04470e);
    background-image: -ms-linear-gradient(top, #23864E, #04470e);
    background-image: -o-linear-gradient(top, #23864E, #04470e);
    background-image: linear-gradient(to bottom, #23864E, #04470e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn-cover:hover {
    background: #439163;
    background-image: -webkit-linear-gradient(top, #439163, #2f6937);
    background-image: -moz-linear-gradient(top, #439163, #2f6937);
    background-image: -ms-linear-gradient(top, #439163, #2f6937);
    background-image: -o-linear-gradient(top, #439163, #2f6937);
    background-image: linear-gradient(to bottom, #439163, #2f6937);
    text-decoration: none;
  }


/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 22px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('images/cover.png') no-repeat center center;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
}

/*Texts*/
.primary-heading{
    font-size: 4.7rem;
    padding: 35px;
    color: #0e4626;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: bold;
    text-align: center;
}

.secondary-heading{
    font-size: 3.5rem;
    padding-top: 300px;
    color: #1B1C25;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: bold;
    text-align: center;
}

.tertiary-heading{
    font-size: 2rem;
    padding: 35px;
    color: #1B1C25;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: bold;
    text-align: left;
}

p{
    font-size: 1.2rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: normal;
    color: #696969;
}

.cover-para{
    color: #1B1C25;
    padding-bottom: 40px;
}

/*Services*/

.service-row{
        width: 60%;
        margin: 100px auto 100px auto;
        text-align: left;
}

.meals{
    width: 23%;
    float: left;
    margin-left: 30px;
    border-radius: 100%;
    margin: 30px;
}

.bulk{
    width: 23%;
    float: right;
    margin-right: 30px;
    border-radius: 100%;
    margin: 30px;
}
.delivery{
    width: 23%;
    float: left;
    margin-left: 30px;
    border-radius: 100%;
    margin: 30px;
}

.services-para{
    text-align: left;
}

hr{
        border: dashed #d1d0d0 6px;
        border-bottom: none;
        width: 8%;
        margin: 100px auto;
}


/*Contact*/

.contact-heading{
    font-size: 2.5rem;
    padding-top: 30px;
    color: #1B1C25;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: bold;
    text-align: center;
}

.contact-us{
    font-size: 1.5rem;
    padding: 35px;
    color: #1B1C25;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: bold;
    text-align: center;
}

.contact-message{
    text-align: center;
    margin: 20px auto 50px;
}


/*Button*/

.btn {
    background: #1F4068;
    background-image: -webkit-linear-gradient(top, #1F4068, #1275b3);
    background-image: -moz-linear-gradient(top, #1F4068, #1275b3);
    background-image: -ms-linear-gradient(top, #1F4068, #1275b3);
    background-image: -o-linear-gradient(top, #1F4068, #1275b3);
    background-image: linear-gradient(to bottom, #1F4068, #1275b3);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #5485b8;
    background-image: -webkit-linear-gradient(top, #5485b8, #1275b3);
    background-image: -moz-linear-gradient(top, #5485b8, #1275b3);
    background-image: -ms-linear-gradient(top, #5485b8, #1275b3);
    background-image: -o-linear-gradient(top, #5485b8, #1275b3);
    background-image: linear-gradient(to bottom, #5485b8, #1275b3);
    text-decoration: none;
  }


/*Footer*/

#footer{
    background: #1F4068;
    text-align: center;
}

.social-icon{
    color: white;
    margin: 35px 7px;

}

.copyright{
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0;
    text-align: center;
}